@import 'partials/animazioni';
@import 'partials/bottoni';
@import 'partials/colori';
@import 'partials/font';
@import 'partials/mixins';
@import 'partials/reset';
@import 'partials/spaziature';


nav{
    ul{
        display: flex;
        align-items: center;
        list-style: none;
        justify-content: flex-start;
        
        li{ margin: 0.5em;

        a{
            text-decoration: none;
            color:black
        }
    }

    }
}
body{
    
    margin:$margin-body;
    padding: $padding-body;
    box-sizing: $global-box-sizing;
}
