.container-card{
    height: 550px;
    width: 70%;
    margin: 0 auto;
    border-radius: 150px;
    background-color:#FBF7E3;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
 

}
body{
    margin: 0;
    text-align: center;
    color: #612406;
}
.honey img{
    width:100%;
    border-radius:150px 150px 0 0  ;
    height: 300px;
}
.bio,
.kg {
    text-align: center;
}
.content-text{
    display: flex;
    justify-content: space-around;
    flex-grow: 0.4;
}
.bio h3{
    font-size: 1.7em;
    margin-bottom: 0;
}
.bio p{
    margin-top: 0;
    font-size: 1.5em;
    font-weight: 600;
}
.kg{
    font-size: 1.8em;
    font-weight: 600;
}
.btn{
    width: 60%;
    margin: 0 auto;
    font-size: 1.7em;
    border-radius: 50px;
    height: 60px;
    background-color: #F3DF85;
    border: #F3DF85 ;
    color: #612406;

}